</body>

<footer id="footer" style="background-color:rgb(0, 0, 0);text-align:center;height:80px">
    <div>
        <h3 style="color:white;padding-top:20px">&copy 2023 Z technology</h3>
    </div>
</footer>

</html>