<%- include('partials/header'); -%>


    <link rel="stylesheet" type="text/css" href="/about.css">
    <section class="about_us_middle">
        <h1 class="about_title">About Us</h1>
        <h2>Welcome to Compare Cart!</h2>
        <p>At Compare Cart, we understand that finding the perfect electronic product can be a time-consuming and
            overwhelming task. That's why we've created a powerful web scraping platform that simplifies the process for
            you. Our platform allows you to search for any electronic product and provides you with comprehensive
            scraped data from various e-commerce websites such as Flipkart, eBay, Jio Mart, and more.
        </p>
        <br>
        <h2>Our Mission:</h2>
        <p>At Compare Cart, our mission is to empower consumers by providing them with accurate and up-to-date
            information on electronic products from multiple e-commerce websites. We believe that everyone deserves the
            opportunity to make well-informed purchasing decisions and find the best deals available.
        </p>
        <br>
        <h2>How It Works:</h2>
        <p>Using our user-friendly search interface, you can effortlessly enter the name of the electronic product
            you're looking for. Our advanced web scraping technology then scours the internet and gathers data from
            multiple e-commerce websites, ensuring you have access to a wide range of products and prices. We extract
            vital information such as product descriptions, product ratings, prices, and direct links to the product
            pages, all conveniently displayed on one platform.</p>
        <br>
        <h2>Unmatched Convenience:</h2>
        <p>Gone are the days of browsing through numerous websites, comparing prices, and manually collecting
            information. With Compare Cart, you can now save valuable time and effort by accessing all the essential
            details in one place. Our platform presents the scraped data in a clear and organized manner, making it easy
            for you to compare products, analyze ratings, and make informed decisions.</p>
        <br>
        <h2>Reliable and Accurate Data:</h2>
        <p>We take pride in our commitment to providing reliable and accurate data to our users. Our web scraping
            algorithms are designed to extract information with precision, ensuring that you receive the most up-to-date
            data available. We continuously update our system to adapt to changes on e-commerce websites, guaranteeing
            that you have access to the latest product details, prices, and ratings.
        </p>
        <br>
        <h2>User-Friendly Experience:</h2>
        <p>We prioritize user experience and have designed our platform to be intuitive and user-friendly. Whether
            you're a tech-savvy individual or a novice user, our interface is straightforward and easy to navigate. We
            believe that accessing valuable information shouldn't be complicated, so we strive to make your experience
            as seamless and enjoyable as possible.
        </p>
        <br>
        <h2>Your Satisfaction Matters:</h2>
        <p>At Compare Cart, your satisfaction is our top priority. We are committed to continuously improving our
            platform and services based on user feedback and suggestions. If you have any questions, concerns, or ideas
            for enhancements, our dedicated customer support team is always ready to assist you.
        </p>
        <br>
        <!-- <h2>Contact Us:</h2>
            <p>We value open communication with our users. If you have any queries, feedback, or require assistance, please don't hesitate to reach out to us. Our customer support team is available to address your concerns and provide prompt solutions. You can contact us through the following channels:</p>
            <br> -->
        <h2>Start Exploring with Compare Cart:</h2>
        <p>Ready to find the perfect electronic product at the best price? Start exploring Compare Cart today and unlock
            the convenience of comprehensive scraped data. Let us be your trusted companion in your online shopping
            journey, saving you time, effort, and money.
        </p>
        <br>
        <p class="get_started">Get started now and experience the power of Compare Cart!</p>
    </section>
    <%- include('partials/footer.ejs'); -%>