@import url("https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat&family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Tangerine&family=Tilt+Prism&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

h1 {
    font-size: calc(1.5vw + 1.5vh);
    padding-left: 1vh;
    font-weight: 2000;
    font-family: 'Bruno Ace SC', cursive;
    text-decoration: solid;
    letter-spacing: 0.1vw;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* background: url('sign.webp') no-repeat; */
    background-color: whitesmoke;
    background-size: cover;
    background-position: center;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 1.5vw 2vw 0 1.1vw;
    display: flex;
    align-items: center;
    z-index: 99;
    justify-content: space-between;
}

.logo {
    /* font-size: 2em; */
    color: black;
    -webkit-user-select: none;
}

.navigation a {
    position: relative;
    font-size: calc(0.7vw + 0.7vh);
    color: black;
    text-decoration: none;
    font-weight: 1000;
    margin-left: 0.7vw;
}

.navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: rgb(49, 78, 96);
    border-radius: 5px;
    transform-origin: right;
    transform: scalex(0);
    transition: transform .5s;
}

.navigation a:hover::after {
    transform-origin: left;
    transform: scalex(1);
}


.wraper {
    position: relative;
    width: 400px;
    height: 440px;
    /* background: transparent; */
    background-color: #B6EAFA;
    border: 2px solid #B6EAFA;
    border-radius: 20px;
    -webkit-backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0 .5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    /* transform: scale(0); to hide the login*/
    transition: height .1s ease;
}

.wraper.active {
    height: 520px;
}

.wraper .form-box {
    width: 100%;
    padding: 40px;
}

.wraper .form-box.login {
    /* display: none; */
    transition: transform .18s ease;
    transform: translateX(0);

}

.wraper.active .form-box.login {
    /* display: none; */
    transition: none;
    transform: translateX(-400px);
}


.wraper .form-box.register {
    position: absolute;
    transition: none;
    transform: translateX(400px);
}

.wraper.active .form-box.register {
    transition: transform .18s ease;
    transform: translateX(0);
}



.form-box h2 {
    font-size: 2em;
    color: #162938;
    text-align: center;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #162938;
    margin: 30px 0;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #162938;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #162938;
    font-weight: 600;
    padding: 0 35px 0 5px;
}


.remember-forget {
    font-size: .9em;
    color: #162938;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}


.remember-forget label input {
    accent-color: #162938;
    margin-right: 3px;
}

.remember-forget a {
    color: #162938;
    text-decoration: none;
}

.remember-forget a:hover {
    text-decoration: underline;
}

.btn {
    width: 100%;
    height: 45px;
    background: #162938;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: white;
    font-weight: 500;
}

.login-register {
    font-size: .9em;
    color: #162938;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}

.login-register p a {
    color: #162938;
    text-decoration: none;
    font-weight: 600;
}

.login-register p a:hover {
    text-decoration: underline;
}